/*- Custom style -*/
$header-bg-color: #ffeaa7;
$font-color: rgba(0,0,0,0.8);
$link-color: #f8c291;

#header {
    background-color: $header-bg-color;
    color: $font-color;
    &:after {
        height: 0px;
    }
}

#container {
    max-width: 880px;
}

.post a, #nav a {
    color:#2E2E2E;
}

#nav-list:after {
    background-color: rgba(0,0,0,0.8);
}
